<h1 class="title" sticky>O nas
  <hr>
</h1>
<mat-card class="content">
  <p>Witam w serwisie comp-cal.</p>
  <p>Serwis pomaga w zarządzaniu finansami w firmie w przypadku korzystania z księgi przychodów i rozchodów. Został on
    napisany jako praca inżynierska na studiach informatycznych na wydziale informatyki i zarządzania na Politechnice
    Wrocawskiej.</p>
  <p>W przypadku jakichkolwiek uwag dotyczących serwisu proszę o kontakt na maila: 187104@student.pwr.edu.pl</p>
  <p>Autor: Artur Markowski<br>
    Email: 187104@student.pwr.edu.pl
  </p>
</mat-card>